{{ partial "header.html" . }}

{{ .Content }}
{{ template "_internal/google_analytics.html" . }}
<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
	
	<!--{{$showPrevNext := (and (not .Params.disableNextPrev) (not .Site.Params.disableNextPrev))}}
	<div style="display:flex;justify-content:space-between;margin-top:30px;">
	 {{if $showPrevNext}}
		{{with ($.Scratch.Get "prevPage")}}
		<div style="padding:10px;width:180px;">
			<a class="" href="{{.URL}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i>&nbsp;PREVIOUS SECTION
			<div style="padding-top:10px;margin:0 auto;">
				{{.Title}}
			</div></a>
		</div></a>
		{{end}}
		{{with ($.Scratch.Get "nextPage")}}
		<a class="" href="{{.URL}}" title="{{.Title}}"><div style="padding:10px;width:180px;text-align:right;">
			<a class="" href="{{.URL}}" title="{{.Title}}" style="margin-right: 0px;">NEXT SECTION&nbsp;<i class="fa fa-chevron-right"></i>
			<div style="padding-top:10px;margin:0 auto;">
				{{.Title}}
			</div></a>
		</div></a>
		{{end}}
	{{end}}
	</div>-->
</footer>

{{ partial "footer.html" . }}